* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 900px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #000;
  max-width: 100%;
  max-height: 100%;
}

img {
  display: none;
}